name: Build with dynamo
on: [push, pull_request]
jobs:
  job:
    runs-on: ubuntu-latest
    container: node:12
    timeout-minutes: 10
    services:
      dynamodb:
        image: amazon/dynamodb-local
        ports:
          - '8000:8000'
    steps:
      - uses: actions/checkout@v1