name: Redis container example
on: push

jobs:
  # Label of the container job
  container-job:
    # Containers must run in Linux based operating systems
    runs-on: ubuntu-latest
    # Docker Hub image that `container-job` executes in
    container: node:10.18-jessie

    # Service containers to run with `container-job`
    services:
      # Label used to access the service container
      redis:
        # Docker Hub image
        image: grokzen/redis-cluster
        # Set health checks to wait until redis has started
        env: 
          STANDALONE: 'true'
        options: >-
          --health-cmd "redis-cli --cluster call 127.0.0.1:7000 INFO"
          --health-interval 10s 
          --health-timeout 5s 
          --health-retries 5
    steps:
      # Downloads a copy of the code in your repository before running CI tests
      - name: Check out repository code
        uses: actions/checkout@v2